# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv
env/
venv/

# dbt
olist_metrics/profiles.yml
olist_metrics/target/
olist_metrics/dbt_packages/
olist_metrics/logs/

# data
data/
logs/

# OS
.DS_Store